<!--First Name-->
<label>First Name</label>
<!-- name='' is how the server gets the data from the object -->
<input type="text" name="firstname" value="<%= author.firstname %>">

<label>Surname</label>
<input type="text" name="surname" value="<%= author.surname %>">